<%
@withDrawCash = CreditsWithdraw.find_by_members_id(@user_id)
member_id = @withDrawCash.members_id
user_name = Member.find_by_id(member_id).username

 logger.debug "user name: #{user_name}"

%>
<p>Hello, <%=  user_name %></p>
<p> To verify your paypal email click on below link</p>
<p>Thanks <br /> CPC Team</p>
