<div class="lhscontainer">
    <div class="lhs">
    	<% if @member_provider == 'CPC' %>
    		<%= link_to('Settings', 'mySettings', :title => 'Settings') %>
    	<% end %>
        <h6>Sort Offers</h6>
        <ul>
        	<li><a href="#">myOffer</a></li>
	        <li><a href="#">Latest Offers First</a></li>
	        <li><a href="#">Offers expiring soon</a></li>
	        <li><a href="#">Highest Credits Per Click</a></li>
	        <li><a href="#">Latest Offers First</a></li>
	        <li><a href="#">Max Number of Credits</a></li>
	        <li>
	            <a href="#">Categories</a>
	            <ul>
	                <li><a href="#">Entertainment</a></li>
	                <li><a href="#">Info Products</a></li>
	            </ul>
	        </li>
        </ul>               
    </div>
</div>