<div class="mainfrmcontainer">
	<div class="frmmainbody">
		<h3>Sign up using Facebook or Twitter or create an account with us.</h3>
		<div class="mainfrmbrlow">
			<div class="mainfrmlft">
				<div class="sntoolboxnew">
					
					<%= link_to content_tag(:span, '', :class => 'facebook'), "/auth/facebook", id: "sign_in" %>
					<%= link_to content_tag(:span, '', :class => 'twitter'), "/auth/twitter", id: "sign_in" %>
					
					<!--<a title="Login with Facebook" href="#" target="_blank">
						<span class="facebook"></span>
					</a>-->
					<!--<a title="Login with Twitter" href="#" target="_blank">
						<span class="twitter"></span>
					</a>-->

				</div>
				
				<div class="comm">If you encounter any issues logging in Or signing up please contact us at <a href="mailto:aksjd@ajkd.com">aksjd@ajkd.com</a></div>

			</div>
			
			<div class="frmright">
				<h2>Create an Acount</h2>
				<p><input name="" type="text" class="txtbxmain" /></p>
				<p><input name="" type="text" class="txtbxmain" /></p>
				<p><select name="" class="cl"></select></p>
				<p><input name="" type="button" class="smtbtn" value="Sign Up!" /></p>
			</div>
		</div>
	</div>
</div>
		
		
		
	