<div class="lhscontainer">
    <div class="lhs">    
		<h6>Sort Offers</h6>
        <ul>
        	<li>
        		<%=	link_to "Current Live Offers", :controller =>"offers", :action => "sortMyOffers", :qs => 'myoffer', :sort_by => "current_live",  %>
	        </li>
	        <li>
	        	<%=	link_to "Offers Awaiting Approval", :controller =>"offers", :action => "sortMyOffers", :qs => 'myoffer', :sort_by => "awaiting" %>
	        </li>
	        <li>
	        	<%=	link_to "Expired Offers", :controller =>"offers", :action => "sortMyOffers", :qs => 'myoffer', :sort_by => "expired" %>
	        </li>
        </ul>               
    </div>
</div>