<%= render 'home/header' %>

	asdasd
	<div id="time_div">
	</div>
   
	
	<%=  link_to "hello", :controller => "share_offer", :action => "CreateLink", "data-href" => "/share_offer/CreateLink", "data-type" => :json , :remote => true %>
	
    <span id="username_check">&nbsp;</span>  
<%= render 'home/footer' %>


