<div id="footer">
        	All Rights Reserved Copyright © 2012
            <div class="sntoolboxbt">
                <a title="Follow Us on Facebook" href="#" target="_blank">
                    <span class="facebook"></span>
                </a>
                <a title="Twitter" href="#" target="_blank">
                    <span class="twitter"></span>
                </a>

            </div>
        </div>

      
    </div>
</body>
</html>