<div class="mainfrmcontainera">
		<% if session[:admin_user_id] %>
<div class="lhscontainer">
<div class="lhs">	
	<ul>
		<li>
		
			Total Number of Users: <%=  Member.all .size %>
		</li>
		<li>
			<%					
				offerredeemList = OfferRedeem.find(:all, 
             	                                   :select => "DISTINCT ON (offers_id) *")
			%>
			
			
			Total Number of Offers Promoted: <%=  offerredeemList.count %>
		</li>
		<li>
			Total Number of Unique Clicks:
		</li>
		<li>
			Total Number of Clicks:
		</li>
		<li>
			Live Offers:
		</li>
		<li>
			Offers Awaiting Approval:
		</li>

	</ul>

</div>
</div>
<% end %>
