<%= render 'admin_user/admin_header' %>

<%= render 'admin_user/admin_lhs' %>

<div class="rhscontent">
<h6>Welcome To CPC Dashboard</h6>                   
</div>



</div>
<%= render 'admin_user/admin_footer' %>


               