<%= render 'home/header' %>
	<div class="mainfrmcontainer">
	    <% if current_user %>
	        <%= render 'home/lhs' %>
	        <%= render 'offers/offersList' %>
	    <% end %>
	</div>
<%= render 'home/footer' %>